*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
   
}

/*container
==============*/

.container {
    width: 1050px;
    max-width: 1050px;
    margin: 0 auto;
}

/*header
============*/

header {
    margin: 40px auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 590;
    font-size: 24px;
    line-height: 32px;
    color: white;
}
 
/*nav
=============*/

.nav {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 595;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}
.nav__link {
    margin-left: 40px;
    text-decoration: none;
    opacity: .75;
    color: white;
}
.nav__link:nth-child(1) {
    margin-left: 0;
}
.nav__link:hover {
    opacity: 1;
    margin-top: 8px;
}

/*intro
===============*/

.intro {
}
.intro__inner {
    
}
.intro__words {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-family: 'Martel', serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 65px;
    width: 509px;
    padding-top: 170px;
    padding-left: 182px;
}

/*intro-2
================*/

.intro__words-2 {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 540px;
    padding-left: 182px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

/*btn
==============*/

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn--orng {
    padding: 10px 36px;
    background: rgba(208, 161, 68, 1);
    border-radius: 37px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0 10px;  
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    margin-left: 182px;
    text-align: center;
}
.btn--orng:hover {
    cursor: pointer;
}
.btn-container{
    display: flex;
}
.btn--ops {
    background: rgba(0, 0, 0, 0.4);

    padding: 10px 36px;
    margin: 0 10px;
    border-radius: 37px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-left: -10px;
}
.btn--ops:hover {
    cursor: pointer;
}




.btnb {
    width: 135px;
    height: 28px;
    color: white;
    font-weight: 700;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}
.btn--blue {
    background-color: rgba(41, 92, 122, 1);
    width: 248px;
    height: 58px;
    border: none;
    margin-top: 15%;
    margin-left: 12px;
    border-radius: 5px;
} 
.btn--blue:hover {
    cursor: pointer;
}

/*header-content
========================*/

.header-content{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.login-card{
    background-color: white;
    width: 328px;
    height: 559px;
    border-radius: 10px;
}
h3{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Martel', serif;
}

/*input
================*/

.input-card{
    padding: 10px 30px;
}
.input-card-inf{
    margin-top: 7%;  
    padding-left: 12px;
    border-radius: 5px;

}
input{
    width:245px;
    height: 45px;
}

.container-2 {
    width: 100%;
    height: 732px;
    background-color: rgba(37, 43, 66, 1);
}
.intro__inner-2 {
    text-align: center;
}

.intro__word-2 {
    text-align: center;
    font-family: 'Martel', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: white;
    padding-top: 80px;
}
.prg {
    text-align: center;
    color: white;
    max-width: 431px;
    margin-left: 450px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
h5 {
    color: rgba(37, 43, 66, 1);
    font-family: 'Martel', serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.card-section{
    display: flex;
}
.card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 385px;
    background: #F6E4D7;
    border-radius: 10px;
    margin-left: 90px;
    margin-top: 70px;
}

.card__logo{
    display: flex;
    margin-left: -18px;
    margin-top: -138px;
}
img {
    margin-right: 15px;
}
.card__intro {
    padding: 30px 50px;
    width: 328px;
    height: 253px;
    background-color: white;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 130px;
}
.card__word {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    padding-top: 50px;
    width: 184px;
    padding-left: 40px;
}

.container-3 {
    widows: 100%;
    height: 759px;
    background-color: rgba(37, 43, 66, 1);  
}
.intro__inner-3 {
    text-align: center;
}
h2 {
    color: white;
    padding-top: 80px;
    font-family: 'Martel', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin: 0 10px;
}
.intro__word-3 {
    color: white;
    padding-top: 10px;  
    width: 931px;
    padding-left: 450px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.bgimg {
    width: 877px;
    height: 442px;
    margin-left: 241px;
}
.bimg {
    width: 877px;
    height: 442px;
    margin-top: 50px;
}
.container-4{
    width: 100%;
    height: 591px;
    background-color: rgba(37, 43, 66, 1);
}
.intro__inner-4 {
    text-align: center;
}
.h2-2 {
    color: white;
    padding-top: 80px;
    font-family: 'Martel', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.intro__word-4 {
    color: white;
    padding-top: 10px;  
    width: 931px;
    padding-left: 450px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.card-3 {
    display: flex;
    padding: 30px 35px;
    width: 327px;
    height: 244px;
    background-color: white;
    border: 1px solid wheat;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 80px;
}
.star { 
    margin-bottom: 83px;
    width: 16px;
}

.cards{
    display: flex;
    justify-content: space-around;
}
.card__word-3 {
    width: 203px;
    height: 72px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    margin-top: -60px;
}
.ell {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: -45px;
    margin-left: -125px;
}
.ell__word {
    width: 88px;
    height: 44px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: rgba(208, 161, 68, 1);
    margin-left: 60px;
    margin-top: -5px;
}
h6 {
    width: 64px;
    height: 24px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    margin-left: 60px;
    margin-top: -35px;
}

.img__contaner {
    width: 100%;
    height: 723px;
    background-color: rgba(37, 43, 66, 1);
    margin-bottom: -2%;
}
.intro__inner-5 {
    text-align: center;
}
.word__img {
    font-family: 'Martel', serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: white;
    padding: 80px auto;
}
.word__p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: white;
    padding: 10px auto;
}
.car__img {
    display: flex;
    justify-content: space-around;
}
.card__img {
    display: flex;
    flex-direction: column;
    width: 328px;
    height: 372px;
    background-color: white;
    margin-top: 80px;
    /* margin: 80px auto; */
}
.cov {
    width: 100%;
}
.cov__word {
    font-family: 'Martel', serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: rgba(37, 43, 66, 1);
    margin-bottom: 2%;
}
.cov-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgba(115, 115, 115, 1);
    margin-top: 5px;
    width: 92px;
    margin-left: 110px;
}
.cov-3 {}

.container__make {
    width: 100%;
    height: 821px;
    background-image: url(./img/make.png);
}
.intro__make {
   display: flex;
   padding-top: 50px;
   padding-left: 195px;
}
.card__make {
    width: 602px;
    height: 572px;
}
.make__contant {
    width: 458px;
    height: 74px;
}
.make__h5 {
    color: white;
    padding-top: 40px;
    margin-bottom: -3px;
    padding-left: 3%;
    font-family: 'Martel', serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.make__h2 {
    padding-top: 0px;
    font-family: 'Martel', serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
}
.make__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 90px;
}
.make__inp {
    width: 258px;
    height: 50px;
    border-radius: 5px;
}
.first{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.second {
    padding-top: 20px;
}
.make__massage {
    padding-top: 20px;
}
.first input{
    margin-top: 10px;
}
.make__massg {
    width: 598px;
    height: 140px;
    border-radius: 5px;
}
.make--btn {
    width: 215px;
    height: 58px;
    padding: 15px 40px;
    margin-top: 40px;
    background-color: rgba(208, 161, 68, 1);
    border-radius: 5px;
}
.make--btn:hover {
    cursor: pointer;
}
.btn__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}
.us__container {
    width: 100%;
    height: 142px;
}
.intro__us {
    display: flex;
    margin: 0px 195px;
    width: 1050px;
    height: 142px;
}
.us__words {
    display: flex;
    margin-top: 40px;
    width: 1050px;
    height: 62px;
}
.us__introwords {
    display: flex;
    width: 454px;
    height: 62px;
}
.us__h3 {
    margin-top: 0px;
    width: 874px;
}
footer {
    width: 100%;
    height: 526px;
    background-color: rgba(37, 43, 66, 1);
}
.footer-con {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 195px;
    width: 1050px;
    max-width: 1050px;
}
.foot__h3 {
    color: white;
    padding-top: 53px;
}
.foot__img {
    padding-top: 53px;
}
hr {
    max-width: 1050px;
    margin-left: 195px;
    margin-top: 57px;

    background-color: rgba(54, 64, 103, 1);
}
.foot__con2 {
    display: flex;
    padding-left: 160px;
    width: 100%;
    max-width: 1050px;
    height: 310px;
}
.com__h5 {
    color: white;
    font-family: 'Martel', serif;
    font-weight: 700;
    font-size: 16px;
}
.com__prg {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
.compan__inp {
    box-sizing: border-box;
    border-radius: 5px;
}
.compan__btn {
    margin-left: 245px;
    width: 117px;
    height: 58px;
    border-radius: 0px 5px;
    background-color: rgba(208, 161, 68, 1);
}
@media(max-width: 900px){
    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .header__inner{
        display: flex;
        align-items: center;
        flex-direction: column;  
    /* }
    .nav{
        display: flex;
        align-items: center;
        flex-direction: column;  
       
    } */
}
