*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
}

/*container
==============*/

.container {
    width: 1050px;
    max-width: 1050px;
    margin: 0 auto;
}

/*header
============*/

header {
    margin: 40px auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-family: 'Martel', serif;
    font-style: normal;
    font-weight: 590;
    font-size: 24px;
    line-height: 32px;
    color: white;
}
 
/*nav
=============*/

.nav {
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-weight: 595;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}
.nav__link {
    margin-left: 40px;
    text-decoration: none;
    opacity: .75;
    color: white;
}
.nav__link:nth-child(1) {
    margin-left: 0;
}
.nav__link:hover {
    opacity: 1;
    margin-top: 8px;
}

/*intro
===============*/

.intro {
}
.intro__inner {
    
}
.intro__words {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-family: 'Martel', serif;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 65px;
    width: 509px;
    padding-top: 170px;
    padding-left: 182px;
}

/*intro-2
================*/

.intro__words-2 {
    display: flex;
    justify-content: flex-start;
    color: white;
    font-family: 'Montserrat', sans-serif;
    width: 540px;
    padding-left: 182px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

/*btn
==============*/

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn--orng {
    padding: 10px 36px;
    background: rgba(208, 161, 68, 1);
    border-radius: 37px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin: 0 10px;  
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    margin-left: 182px;
    text-align: center;
}
.btn--orng:hover {
    cursor: pointer;
}
.btn-container{
    display: flex;
}
.btn--ops {
    background: rgba(0, 0, 0, 0.4);

    padding: 10px 36px;
    margin: 0 10px;
    border-radius: 37px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-left: -10px;
}
.btn--ops:hover {
    cursor: pointer;
}




.btnb {
    width: 135px;
    height: 28px;
    color: white;
    font-weight: 700;
    line-height: 28px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;

}
.btn--blue {
    background-color: rgba(41, 92, 122, 1);
    width: 248px;
    height: 58px;
    border: none;
    margin-top: 15%;
    margin-left: 12px;
    border-radius: 5px;
} 
.btn--blue:hover {
    cursor: pointer;
}

/*header-content
========================*/

.header-content{
    display: flex;
    justify-content: space-around;
    margin-top: 90px;
}
.login-card{
    background-color: white;
    width: 328px;
    height: 559px;
    border-radius: 10px;
}
h3{
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    font-family: 'Martel', serif;
}

/*input
================*/

.input-card{
    padding: 10px 30px;
}
.input-card-inf{
    margin-top: 7%;  
    padding-left: 12px;
    border-radius: 5px;

}
input{
    width:245px;
    height: 45px;
}

.container-2 {
    width: 100%;
    height: 732px;
    background-color: rgba(37, 43, 66, 1);
}
.intro__inner-2 {
    text-align: center;
}

.intro__word-2 {
    text-align: center;
    font-family: 'Martel', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: white;
    padding-top: 80px;
}
.prg {
    text-align: center;
    color: white;
    max-width: 431px;
    margin-left: 450px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
}
h5 {
    color: rgba(37, 43, 66, 1);
    font-family: 'Martel', serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}
.card-section{
    display: flex;
}
.card-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 328px;
    height: 385px;
    background: #F6E4D7;
    border-radius: 10px;
    margin-left: 90px;
    margin-top: 70px;
}

.card__logo{
    display: flex;
    margin-left: -18px;
    margin-top: -138px;
}
img {
    margin-right: 15px;
}
.card__intro {
    padding: 30px 50px;
    width: 328px;
    height: 253px;
    background-color: white;
    border: 1px solid white;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 130px;
}
.card__word {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    padding-top: 50px;
    width: 184px;
    padding-left: 40px;
}

.container-3 {
    widows: 100%;
    height: 759px;
    background-color: rgba(37, 43, 66, 1);  
}
.intro__inner-3 {
    text-align: center;
}
h2 {
    color: white;
    padding-top: 80px;
    font-family: 'Martel', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    margin: 0 10px;
}
.intro__word-3 {
    color: white;
    padding-top: 10px;  
    width: 931px;
    padding-left: 450px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.bgimg {
    width: 877px;
    height: 442px;
    margin-left: 241px;
}
.bimg {
    width: 877px;
    height: 442px;
    margin-top: 50px;
}
.container-4{
    width: 100%;
    height: 591px;
    background-color: rgba(37, 43, 66, 1);
}
.intro__inner-4 {
    text-align: center;
}
.h2-2 {
    color: white;
    padding-top: 80px;
    font-family: 'Martel', serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}
.intro__word-4 {
    color: white;
    padding-top: 10px;  
    width: 931px;
    padding-left: 450px;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
}
.card-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 35px;
    width: 327px;
    height: 244px;
    background-color: white;
    border: 1px solid wheat;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 150px;
    margin-top: 80px;
}
.star {
    margin-bottom: 183px;
    width: 16px;
}
@media screen and (max-width:400){
    body{
        display: none;
    }
}