@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.container-test {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(./img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* container =================================*/

.container {
  width: 100%;
  max-width: 1050px;
  margin: 13px 195px;
  padding-left: 25px;
  padding-right: 25px;
}

/* nav ========================================== */

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}
li {
  text-decoration: none;
  padding: 25px;
}
#ki {
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25;
  padding-right: 0px;
}
.litigade {
  color: white;
  font-family: "Martel", serif;
  font-size: 24px;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

/* inner ==================================== */

.inner {
  padding-top: 241px;
  max-width: 1050px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.inner_in {
  display: flex;
  flex-direction: column;
}
.legal {
  color: white;
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 53px;
  max-width: 300px;
  line-height: 65px;
}
.weknow {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  max-width: 350px;
  line-height: 30px;
  padding-top: 35px;
}

/* button========================================== */

.button {
  padding-top: 35px;
}

.btn1 {
  border-radius: 37px;
  padding: 12px 35px;
  background-color: rgba(208, 161, 68, 1);
  color: white;
  outline: none;
  border: none;
}

.btn2 {
  border-radius: 37px;
  padding: 12px 35px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  outline: none;
  border: 1px solid white;
}
.btn1,
.btn2:hover {
  cursor: pointer;
}

 /* card========================== */

 
 .card {
  width: 328px;
  background-color: white;
  margin-top: -134px;
  border-radius: 10px;
} 
.inner_card {
  max-width: 248px;
  margin: 0 auto;
}
.book__inp {
  width: 254px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}
.bookap {
  font-family: "Martel", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

.inp__w {
  padding-top: 10px;
  padding-bottom: 12px;
}
.inner__btn {
  width: 254px;
  max-width: 254px;
  margin: 0 auto;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #295c7a;
  color: white;
  border-radius: 5px;
  padding: 15px 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.4px;
}

 /* content================================ */

 .content {
  background-color: rgba(37, 43, 66, 1);
}
.inner_content {
  max-width: 1050px;
  margin: 0 auto;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 80px;
}
.content_text {
  text-align: center;
}
.content_cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}
.concard1 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}
.concard1s {
  background-color: white;
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.concar1dlogo {
  display: flex;
  align-items: center;
  background-color: rgba(246, 228, 215, 1);
}
.concardlink {
  color: rgba(208, 161, 68, 1);
}

 /* second list text======================================================= */

 .practice {
  color: white;
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.problems {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  max-width: 431px;
  margin: 0 auto;
  padding-top: 10px;
}

/* cards============================================================== */

.cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  padding-bottom: 87px;
}
.logo__card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 36px 20px 36px;
}
.cardh5 {
  padding-left: 15px;
}
.inner__card {
  background-color: rgba(246, 228, 215, 1);
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}
.text__card {
  background-color: white;
  border-radius: 10px;
  padding: 20px 35px 40px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.card__link {
  color: #d0a114;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

 /* third list============================================================= */

 .content2 {
  background-color: #252b42;
}
.inner__content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1040px;
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
}
.img2 {
  width: 877px;
  padding-top: 50px;
  padding-bottom: 87px;
}
.textwho {
  max-width: 251px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: bold;
  font-family: "Martel", serif;
  color: white;
}
.trying {
  max-width: 431px;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: white;
}


  /* =====================================*/

  .big-cont {
    background-image: url(./img/make.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .contact {
    height: 100%;
    max-width: 1050px;
    margin: 0 auto;
  }
  .contact-us {
    display: flex;
    flex-direction: column;
    padding: 80px 50px;
  }
  .full-name {
    display: flex;
    width: 700px;
    flex-wrap: wrap;
  }
  
  