@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=Montserrat:wght@300&family=Open+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  overflow-x: hidden;
}
.container-test {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-image: url(./img/background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  /* max-width: 1050px; */
  /* margin: 0 auto; */
}

/* container =================================*/

.container {
  width: 100%;
  max-width: 1050px;
  margin: 13px 195px;
  padding-left: 25px;
  padding-right: 25px;
}

/* nav ========================================== */

.navi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}
li {
  text-decoration: none;
  padding: 25px;
}
#ki {
  padding-left: 25px;
  padding-top: 25px;
  padding-bottom: 25;
  padding-right: 0px;
}
.litigade {
  color: white;
  font-family: "Martel", serif;
  font-size: 24px;
  font-weight: 700;
}
a {
  text-decoration: none;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

/* inner ==================================== */

.inner {
  padding-top: 241px;
  max-width: 1050px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.inner_in {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1050; 
}

.legal {
  color: white;
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 53px;
  max-width: 300px;
  line-height: 65px;
}
.weknow {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  max-width: 350px;
  line-height: 30px;
  padding-top: 35px;
}

/* button========================================== */

.button {
  padding-top: 35px;
}
.btn1 {
  border-radius: 37px;
  padding: 12px 35px;
  background-color: rgba(208, 161, 68, 1);
  color: white;
  outline: none;
  border: none;
}
.btn2 {
  border-radius: 37px;
  padding: 12px 35px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  outline: none;
  border: 1px solid white;
}
.btn1,
.btn2:hover {
  cursor: pointer;
}

/* card========================== */

.card {
  width: 328px;
  background-color: white;
  margin-top: -134px;
  border-radius: 10px;
  margin-bottom: 40px;
  margin-right: -134px;
  margin-left: 134px;
}

.inner_card {
  max-width: 248px;
  margin: 0 auto;
}
.book__inp {
  width: 254px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}
.bookap {
  font-family: "Martel", serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}
.inp__w {
  padding-top: 10px;
  padding-bottom: 12px;
}
.inner__btn {
  width: 254px;
  max-width: 254px;
  margin: 0 auto;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #295c7a;
  color: white;
  border-radius: 5px;
  padding: 15px 40px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.4px;
}

/* content================================ */

.content {
  background-color: rgba(37, 43, 66, 1);
}
.inner_content {
  max-width: 1050px;
  margin: 0 auto;
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 80px;
}
.content_text {
  text-align: center;
}
.content_cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}
.concard1 {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
}
.concard1s {
  background-color: white;
  line-height: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.concar1dlogo {
  display: flex;
  align-items: center;
  background-color: rgba(246, 228, 215, 1);
}
.concardlink {
  color: rgba(208, 161, 68, 1);
}

/* second list text======================================================= */

.practice {
  color: white;
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
}
.problems {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  max-width: 431px;
  margin: 0 auto;
  padding-top: 10px;
}

/* cards============================================================== */

.cards {
  display: flex;
  justify-content: space-evenly;
  padding-top: 80px;
  padding-bottom: 87px;
}
.logo__card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 36px 20px 36px;
}
.cardh5 {
  padding-left: 15px;
}
.inner__card {
  background-color: rgba(246, 228, 215, 1);
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
}
.text__card {
  background-color: white;
  border-radius: 10px;
  padding: 20px 35px 40px 20px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #737373;
}
.card__link {
  color: #d0a114;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/* third list============================================================= */

.content2 {
  background-color: #252b42;
}
.inner__content2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1040px;
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
}
.img2 {
  width: 877px;
  padding-top: 50px;
  padding-bottom: 87px;
}
.textwho {
  max-width: 251px;
  margin: 0 auto;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: bold;
  font-family: "Martel", serif;
  color: white;
}
.trying {
  max-width: 431px;
  margin: 0 auto;
  padding-top: 10px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: white;
}

/* =====================================*/
.big-cont {
  background-image: url(./img/make.png);
  background-position: center;
  background-repeat: no-repeat;
}

.contact {
  height: 100%;
  max-width: 1050px;
  margin: 0 auto;
}

.contact-us {
  display: flex;
  flex-direction: column;
  padding: 80px 50px;
}
.full-name {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
}

.in-1 {
  padding: 15px;
  margin: 15px;
  width: 284px;
  height: 50px;
  border-radius: 5px;
  background-color: white;
}
.big-in-1 {
  margin-left: 15px;
  margin-top: 20px;
  padding: 100px;
  width: 598px;
  height: 140px;
  border-radius: 5px;
  background-color: white;
}
.btn-d-a {
  margin: 15px;
  margin-top: 45px;
  padding: 15px 40px;
  width: 215px;
  height: 58px;
  background-color: rgba(208, 161, 68, 1);
  outline: none;
  border-radius: 5px;
  margin-bottom: 99px;
}
.book {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.contact_text {
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
  max-width: 89px;
  color: white;
}
.make_h1 {
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.2px;
  color: white;
}

.request {
  background-color: white;
  max-width: 1050px;
  margin: 0 auto;
}
.request-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.request-a {
  display: flex;
  flex-direction: column;
  padding: 15px;
  line-height: 1.2;
}
.rtext_h2 {
  font-family: "Martel", serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1px;
  padding-top: 40px;
}
.rtext_p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: rgba(115, 115, 115, 1);
  padding-top: 10px;
  padding-bottom: 40px;
}
.btn-us {
  padding: 10px 30px;
  background: rgba(208, 161, 68, 1);
  color: white;
  outline: none;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.2px;
  border-radius: 5px;
  padding: 15px 40px;
  margin-top: 42px;
  margin-bottom: 42px;
}

/* footer============================================ */

footer {
  background-color: #252b42;
}
.footer_in {
  max-width: 1050px;
  margin: 0 auto;
}
.footer_logo {
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
  padding-bottom: 57px;
}
@media (max-width: 1050px) {
  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .button {
    margin-top: 10px;
  }
  .card {
    margin-top: 50px;
  }
  .inner_in {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .legal {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scale(0.8);
  }
  .button {
    margin-top: 10px;
  }
  .card {
    margin-top: 50px;
  }
  /* /////////////////// */

  .inner_content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .practice {
    width: 500px;
  }
  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .inner__card {
    margin-bottom: 20px;
    width: 100%;
  }
  /* ///////////////// */

  .inner__content2 {
    display: flex;
    background-image: none;
    padding-bottom: 50px;
    margin-top: -100px;
  }
  .content2__img {
    background-image: none;
    display: none;
  }
  .big-cont {
    margin-top: -50px;
    background-image: none;
    background-color: #295c7a;
  }
  .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contact-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .make_h1 {
    width: 450px;
    display: flex;
    align-items: center;
  }

  .full-name {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .big-input {
    width: 450px;
    display: flex;
    align-items: center;
    margin-left: -10px;
  }
  /* ======= */
  .request-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .btn-us {
    margin-top: -20px;
  }
  /* ========= */

  .footer_in {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 1233px) {
  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .button {
    margin-top: 10px;
  }
  .card {
    margin-top: 50px;
  }
  .inner_in {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-left: 115px;
  }
  .legal {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scale(0.8);
  }
  .button {
    margin-top: 10px;
  }
  .card {
    margin-top: 50px;
    margin-left: -10px;
  }
  /* /////////////////// */

  .inner_content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .practice {
    width: 500px;
  }
  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .inner__card {
    margin-bottom: 20px;
    width: 100%;
  }
  /* ///////////////// */

  .inner__content2 {
    display: flex;
    background-image: none;
    padding-bottom: 50px;
    margin-top: -100px;
  }
  .content2__img {
    background-image: none;
    display: none;
  }
  .big-cont {
    margin-top: -50px;
    background-image: none;
    background-color: #295c7a;
  }
  .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contact-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .make_h1 {
    width: 450px;
    display: flex;
    align-items: center;
  }

  .full-name {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .big-input {
    width: 450px;
    display: flex;
    align-items: center;
    margin-left: -10px;
  }
  /* ======= */
  .request-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .btn-us {
    margin-top: -20px;
  }
  /* ========= */

  .footer_in {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .container-test {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: none;
    background-color: #252b42;
  }
  header {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: none;
    padding-left: 15px;
    padding-right: 15px;
    /* background-color: #252b42; */
  }
  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: none;
    padding-left: 15px;
    /* background-color: #252b42;  */
  }
  .navi {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .list {
    display: flex;
    padding-left: 0;
    flex-direction: column;
    margin-bottom: -160px;
  }
  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .inner_in {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: -25px;
  }
  .legal {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scale(0.8);
  }
  .button {
    margin-top: 10px;
  }
  .card {
    margin-top: 50px;
    margin-left: -128px;
  }
  /* /////////////////// */

  .inner_content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .practice {
    width: 500px;
  }
  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .inner__card {
    margin-bottom: 20px;
    width: 100%;
  }
  /* ///////////////// */

  .inner__content2 {
    display: flex;
    background-image: none;
    padding-bottom: 50px;
    margin-top: -100px;
  }
  .content2__img {
    background-image: none;
    display: none;
  }
  .big-cont {
    margin-top: -50px;
    background-image: none;
    background-color: #295c7a;
  }
  .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contact-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .make_h1 {
    width: 450px;
    display: flex;
    align-items: center;
  }

  .full-name {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .big-input {
    width: 450px;
    display: flex;
    align-items: center;
    margin-left: -10px;
  }
  /* ======= */
  .request-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .btn-us {
    margin-top: -20px;
  }
  /* ========= */

  .footer_in {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .button {
    margin-top: 10px;
  }
  .card {
    margin-top: 50px;
  }
  .inner_in {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .legal {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scale(0.8);
  }
  .button {
    margin-top: 10px;
  }
  .card {
    margin-top: 50px;
  }
  /* /////////////////// */

  .inner_content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .practice {
    width: 500px;
  }
  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .inner__card {
    margin-bottom: 20px;
    width: 100%;
  }
  /* ///////////////// */

  .inner__content2 {
    display: flex;
    background-image: none;
    padding-bottom: 50px;
    margin-top: -100px;
  }
  .content2__img {
    background-image: none;
    display: none;
  }
  .big-cont {
    margin-top: -50px;
    background-image: none;
    background-color: #295c7a;
  }
  .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contact-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .make_h1 {
    width: 450px;
    display: flex;
    align-items: center;
  }

  .full-name {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .big-input {
    width: 450px;
    display: flex;
    align-items: center;
    margin-left: -10px;
  }
  /* ======= */
  .request-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .btn-us {
    margin-top: -20px;
  }
  /* ========= */

  .footer_in {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 700px) {
  .inner {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .button {
    margin-top: 10px;
  }
  .card {
    margin-top: 50px;
  }
  .inner_in {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .legal {
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scale(0.8);
  }
  .button {
    margin-top: 10px;
  }
  .card {
    margin-top: 50px;
  }
  /* /////////////////// */

  .inner_content {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .practice {
    width: 500px;
  }
  .cards {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .inner__card {
    margin-bottom: 20px;
    width: 100%;
  }
  /* ///////////////// */

  .inner__content2 {
    display: flex;
    background-image: none;
    padding-bottom: 50px;
    margin-top: -100px;
  }
  .content2__img {
    background-image: none;
    display: none;
  }
  .big-cont {
    margin-top: -50px;
    background-image: none;
    background-color: #295c7a;
  }
  .contact {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contact-us {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .make_h1 {
    width: 450px;
    display: flex;
    align-items: center;
  }

  .full-name {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .big-input {
    width: 450px;
    display: flex;
    align-items: center;
    margin-left: -10px;
  }
  /* ======= */
  .request-1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  .btn-us {
    margin-top: -20px;
  }
  /* ========= */

  .footer_nav {
    display: flex;

    flex-direction: column;
  }
  .footer_ul {
    margin-top: -100px;
  }
  .finish_text {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .footer_img {
    padding-top: 20px;
  }
  .finish_p {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }
  .footer_in {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer_logo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .content2__text {
    margin-bottom: 30px;
  }
}
